<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.hello.jni">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="28" />

    <application android:label="Hello JNI">
        <activity android:name="HelloWorld">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>